.card{
    width:max-content;
    text-align:center;
    font-weight:600;
    margin-bottom:3rem;
    position: relative;
}

.card img {
    width:10rem;
    height:auto;
    border-radius: 50%;
    transition:0.5s;
}

.card-img-container{
    border-radius: 50%;
}

.card-img-container:hover{
    cursor:pointer;
}

.card-img-container:hover > img{
    border: 6px solid var(--primary-green);
    transform: rotate(210deg);
    filter: brightness(80%);
}

.card-img-container:hover ~ p{
    color: var(--secondary-green)
}

.card-img-overlay svg{
    color: var(--primary-green);
    font-size:2.5rem;
    filter: brightness(80%);
}

.card-img-overlay{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.card-img-container:hover > .card-img-overlay{
    opacity:1;
    transition: .3s;
}

.card p{
    margin-top:0;
    color: var(--primary-white)
}


