.family-header {
    background:blue;
    background-image: 
    linear-gradient(rgba(34,34,34,0), rgba(34,34,34,1)),
    url("../public/header-1.png");
    width: 100%;
    min-height:12rem;    
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    margin-top:0;
    margin-bottom:3rem;
    padding-top:2rem;
}

.family-header-text{
    text-align:center;
    color: var(--primary-white);
    width:100%;
    padding-top:4rem;
}

.family-search-input > svg{
    font-size:1.25rem;
    color:var(--primary-black);
}

.family-header-text > div{
    font-size:1.25rem;
    font-weight:700;
    margin-bottom:0.75rem;
}

.family-header-title{
    font-size:1.65rem !important;
}

.family-search-input{
    width:max-content;
    margin-left:auto;
    margin-right:auto;
    border-radius:30px;
    background:var(--secondary-gray);
    padding: 0 1rem;
}

.family-search-input > input[type=text]{
    background:transparent;
    border:0;
    outline: none;
    color:var(--primary-black);
    height:2.75rem;
    width:60vw;
    font-size:1.35rem;
}

::placeholder {
    color: var(--primary-gray);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--primary-gray);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--primary-gray);
}

.search-result-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 0 1.5rem;
    margin-bottom:4rem;
}
  
.card{
    flex: 0 1 calc(14%);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

@media screen and (min-width: 420px){
    .family-search-input > input[type=text]{
        width:17.5rem;
    }
}

@media screen and (min-width: 520px){
    .family-search-input > input[type=text]{
        height:3rem;
        width:17.5rem;
        font-size:1.5rem;
    }

    .family-header-text > div{
        font-size:1.5rem;
        margin-bottom:1rem;
    }
    
    .family-header-title{
        font-size:2rem !important;
    }
}

@media screen and (min-width: 648px)  {
    .family-search-input > input[type=text]{
        width:20rem;
    }

    .family-header-text > div{
        margin-bottom:1.25rem;
    }
    
    .family-header-title{
        font-size:2.5rem !important;
    }
}

@media screen and (min-width: 920px)  {
    .family-search-input > input[type=text]{
        height:3.5rem;
        width:20rem;
    }
    .family-header-text{
        padding-top:10rem;
    }
}