
.footer *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.footer .container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer{
    background-color: black;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h1{
    color: #efefef;
}


.footer-col h6{
    font-size: 16px;
    color: #efefef;
    text-transform: capitalize;
    margin-bottom: 0.50rem;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #909090;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 10px;
}

.footer-col .social-links a div{
    display: inline-block;
    background-color: #333;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a div:hover{
    color:#24262b;
    background-color: #ffff;
}

.footer p1{
    position: relative;
    font-size: 10px;
    color: #efefef;
    padding: 0 15px;
    text-transform: capitalize;
}


.footer p2{
    position: relative;
    font-size: 10px;
    color: #efefef;
    padding: 0 15px;
    float: right;
    text-transform: capitalize;
}

@media(max-width:767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }    
}

@media(max-width:574px){
    .footer-col {
        width: 100%;
    }    
}


