:root{
  --primary-black: #222222;
  --secondary-black: #000000;
  --primary-white: #EFEFEF;
  --primary-green: #00DE75;
  --secondary-green: #00D36F;
  --primary-gray:#909090 ;
  --secondary-gray: #CCCCCC;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primary-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dummy-navbar, .dummy-footer{
  height:3rem;
  background:black;
  margin:0;
  padding:0;
  color:white;
  text-align:center;
  position:fixed;
  width:100%;
  z-index:9999;
}

.nav{
 z-index: 3;
  
}


.dummy-footer{
  bottom:0;
  margin-top:40rem;
}
.dummy-navbar{
  top:0;
}
